.log-mainBox .log-title{
	position: relative;
	padding: 24px 0;
}
.log-mainBox .log-title aside{
	float: left;
	padding-left:30px ;
	color: #686868;
	font-size: 16px;
}
.log-mainBox .log-title div{
	padding-right: 25px;
	text-align: right;
	color: #686868;
	font-size: 14px;
}
.log-mainBox .log-title a{
	color:#e9474d;
	font-size: 14px;
	font-weight: 400;
}
.log-mainBox{
	width:350px;
	height: 360px;
	box-shadow:0 2px 8px 0 rgba(0,0,0,0.2);
	background: #fff;
	position: absolute;
	left: 55%;
	top:100px;
}
.log-mainBox .reg-input{
	position: relative;
	margin-bottom: 14px;
	width:300px;
	height:40px;
	border:1px solid #e5e5e5;
}
.log-mainBox .reg-input>input{
	width:300px;
	height:40px;
	border:0;
	border-radius: 2px;
	outline: 0;
	font-size: 14px;
	padding: 0 15px;
	box-sizing:border-box;
}
.log-mainBox .reg-input .input-box{
	position: absolute;
	left:0;
	top: 0;
}
.log-mainBox .reg-input .input-box input{
	width: 178px;
	height:40px;
	border:0;
	border-radius: 2px;
	outline: 0;
	font-size: 14px;
	padding: 0 15px;
	box-sizing:border-box;
}
.log-mainBox .reg-input .verif-code{
	position: absolute;
	top: 0;
	right: 0;
	width: 110px;
	height:40px;
	border-radius: 2px;
	font-size: 14px;
	color: #c4c4c4;
	text-align: center;
	line-height: 40px;
	border-left: 1px solid #e5e5e5;
}
.log-mainBox .reg-btn{
	width: 300px;
	height: 40px;
	font-size: 16px;
	color:#878787;
	background: #d0d0d0;
	line-height: 40px;
	text-align: center;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}
.log-mainBox .reg-box{
	margin: 0 25px;
}
